body {
   background-image: url("http://images2.layoutsparks.com/1/237311/forever-love-red-colour.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
}

.site-title {
color: white;
}

.site-title:visited {
color: #828282;
}
